body{
    
    background: #141e30;
    background: -webkit-linear-gradient(to right,#243b55,#141e30);
    background: linear-gradient(to right, #243b55, #141e30);
}

#Register form{
    width: 500px;
    margin: auto;
    background: #ada996;
    background: -webkit-linear-gradient(to right,#eaeaea,#dbdbdb,#f2f2f2,#ada996);
    background: linear-gradient(to right, #eaeaea, #dbdbdb, #f2f2f2, #ada996);
    border-radius: 15px;
}
#Register form h4,
 i{
    color: #A97F40;
}

#Register form .box{
    width: 450px;
    margin: auto;
}
#search {
    width: 400px;
    margin: auto;
}
table.table{
    width: max-content;
    min-width: 100%;
}
.btn-purple{
    background-color: #6f42c1;
    color: #fff;
}
.btn-purple{
    background-color: #6f42c1;
    color: #fff;
}

.btn-purple:hover{
    background-color: #6f42c1;
    color: #fff;
}
